<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票頁面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>
    <a href="" title="政治大學_中文版校首頁">
        <img class="nccu-logo" alt="國立政治大學校徽LOGO" height="70" src="https://www.nccu.edu.tw/var/file/0/1000/img/logo_en.png" width=""> 
    </a>
    <button class="metamask-login" id="metamaskButton" onclick="connectMetamask()">Metamask 登入</button>

    <div class="container">
        <h1>校長是誰？</h1>
        <div class="voting-options">
            <div class="option" id="option1" onclick="castVote('option1')">理菜宴</div>
            <div class="option" id="option2" onclick="castVote('option2')">吳元應</div>
        </div>
        <button class="submit-button" onclick="submitVote()">投票送出</button>
        <br><br>
        <div id="chart-container" class="chart-container">
            <canvas id="chart"></canvas>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='metamask.js') }}"></script>

</body>

</html>